<div *ngIf="animal" class="animal-details">

  <div class="animal-id">Animal #{{animal.id}}</div>
  <h2>Behold, <span class="animal-name">{{animal.name}}</span>!</h2>
  <img src="{{animal.image}}" class="animal-image" alt="Picture of {{animal.name}}" title="This is {{animal.name}}!">
  <p>
    {{animal.name}} is a {{animal.descriptor}} <span class="common-name">{{animal.name_common | titlecase}}</span> (<span class="scientific-name">{{animal.name_sci}}</span>)!
  </p>

  <fieldset>
    <legend>What do you think?</legend>
      <p>
        {{animal.name}} is a <input [(ngModel)]="animal.descriptor" placeholder="descriptor"/> creature!
      </p>
    <button (click)="save()">Save</button>
  </fieldset>

  <button (click)="goBack()">Go Back</button>
</div>
