@import "variables";

.animal-details {
  margin: $space-large 0;
  padding: $base-space;
}

.animal-name {
  font-weight: bold;
}

.animal-id {
  color: $secondary-color;
  text-transform: uppercase;
}

.animal-image {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.common-name {
  font-weight: bold;
}

.scientific-name {
  font-style: italic;
}

fieldset {
  background-color: $grey-ll;
  border: none;
  margin: $base-space 0;
  p {
    margin: 0;
  }
}
legend {
  background-color: $grey-l;
  color: $secondary-color;
  font-weight: bold;
  padding: $space-small;
}
input {
  border-width: 0 0 2px;
  border-color: $secondary-color;
  background: none;
  color: $primary-color;
  &:focus {
    outline: none;
  }
}
