/// COLOURS
$grey: #ccc;
$grey-l: #eee;
$grey-ll: #efefef;

$primary-color: cadetblue;
$secondary-color: slategrey;

/// TYPOGRAPHY
$base-font-family: Arial, Helvetica, sans-serif;
$base-font-size: 16px;
$heading-font-family: Cambria, Georgia;

$h1-size: 2.5rem;
$h2-size: 2rem;
$h3-size: 1.5rem;

$link-color: darkslateblue;

/// SPACING / LAYOUT
$base-space: 1rem;
$space-large: $base-space * 2;
$space-small: $base-space / 2;
