/// COLOURS
$grey: #ccc;
$grey-l: #eee;
$grey-ll: #efefef;

$primary-color: cadetblue;
$secondary-color: $grey;

/// TYPOGRAPHY
$base-font-family: Arial, Helvetica, sans-serif;
$base-font-size: 16px;
$heading-font-family: Cambria, Georgia;


/// SPACING / LAYOUT
$base-space: 1rem;
$space-large: $base-space * 2;
$space-small: $base-space / 2;
