<div class="animal-id">Animal #{{animal.id}}</div>
<h2>Behold, <span class="animal-name">{{animal.name}}</span>!</h2>
<img src="{{animal.image}}" class="animal-image" alt="Picture of {{animal.name}}" title="This is {{animal.name}}!">
<p>
  {{animal.name}} is a {{animal.descriptor}} <span class="common-name">{{animal.name_common | titlecase}}</span> (<span class="scientific-name">{{animal.name_sci}}</span>)!
</p>
<div>
  <p>Isn't {{animal.name}} <input [(ngModel)]="animal.descriptor" placeholder="descriptor"/>?</p>
</div>
