@import "variables";

ul {
  list-style: none;
  li {
    padding: $space-small 0;
    border-bottom: 1px solid $secondary-color;
    transition: background 0.3s ease;
    &:first-of-type {
      border-top: 1px solid $secondary-color;
    }
    &:hover {
      background: $grey-ll;
    }
  }
}
.selected {
  color: $primary-color;
  font-weight: bold;
}
.badge {
  color: $secondary-color;
  padding: $space-small;
}
