.animal-name {
  font-weight: bold;
}

.animal-id {
  color: grey;
  text-transform: uppercase;
}

.animal-image {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.common-name {
  font-weight: bold;
}

.scientific-name {
  font-style: italic;
}
