@import "variables";

.header {
  text-align: center;
  padding: $base-space;
  background: linear-gradient(to bottom, $grey, $grey-ll);
  h1, a {
    margin: 0;
    color: $primary-color;
    text-shadow: 2px 2px 5px $secondary-color;
    text-decoration: none;
    font-size: $h1-size;
  }
}

.nav {
  text-align: center;
  background-color: $grey;
  a {
    color: $grey-ll;
    text-decoration: none;
    font-weight: bold;
    background-color: $secondary-color;
    padding: $space-small;
    margin: $space-small;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: $primary-color;
      transition: background-color 0.3s ease;
    }
  }
}
